<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/product-details.css">
</head>
<body>
    <section class="c-prduct-d">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="c-singale-image-box-left">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/product-s-1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-2.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-3.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-2.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-3.jpg" />
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/product-s-1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-2.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-3.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-2.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/product-s-3.jpg" />
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
			
			<div class="col-lg-6">
				<div class="c-product-con">
					<h1>01 Number Snap Case</h1>
					<div class="c-price-product">
						<span class="c-normal-p">₹499.00</span>
						<span class="c-discount-p">₹99.00</span>
					</div>
					<div class="c-delivery-banner">
						<img src="../assets/delivery-banner.jpg" alt="">
					</div>
					<ul class="c-feature-product">
						<li>Thin & light Poly-carbonate case</li>
						<li>Smooth & seam-free surface</li>
						<li>Photo-realistic print quality</li>
						<li>Hassle-free replacements</li>
						<li>Delivery in 5-7 working days</li>
					</ul>
					<div class="c-chose-brand mt-3">
						<select class="form-control">
							<option>Choose Mobile Brand</option>	
							<option>Apple</option>
							<option>Google</option>
							<option>Infinix</option>
							
						</select>
					</div>
					<ul class="c-other-option">
						<li>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							  <label class="form-check-label" for="flexCheckDefault">
							    Add Flexible Glass Screen Guard
							    <br>
							    <strong>₹29.00</strong>
							  </label>
							</div>
							
						</li>
						<li>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-2">
							  <label class="form-check-label" for="flexCheckDefault-2">
							    Add Same Design Key Chain
							    <br>
							    <strong>₹29.00</strong>
							  </label>
							</div>
							
						</li>
						<li>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-3">
							  <label class="form-check-label" for="flexCheckDefault-3">
							    Add Same Design Phone Grip
							    <br>
							    <strong>₹29.00</strong>
							  </label>
							</div>
							
						</li>
					</ul>

					<button  class="c-btn-3" tabindex="0"><span> Add To Card</span></button>

					<ul class="c-coupon-option">
						<li>
							<span class="c-tag-w">
								<img src="../assets/tag.svg">
							</span>
							<h4>Order Above Rs. 297 & Get Free Shipping</h4>
							<h5>Use Coupon Code: <span class="badge bg-danger">No Coupon Needed</span></h5>
						</li>
						<li>
							<span class="c-tag-w">
								<img src="../assets/tag.svg">
							</span>
							<h4>Order above ₹ 399 & Get Extra ₹ 60 OFF</h4>
							<h5>Use Coupon Code: <span class="badge bg-success">SAVE60</span></h5>
						</li>
						<li>
							<span class="c-tag-w">
								<img src="../assets/tag.svg">
							</span>
							<h4>Order Above Rs. 297 & Get Free Shipping</h4>
							<h5>Use Coupon Code: <span class="badge bg-success">SAVE50</span></h5>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>	
</section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      loop: true,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>